/* styles.css */
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #888;
    font-weight: 300;
    text-align: center;
    background-color: #f3f3f3;
    font-family: 'Lato';
    overflow: hidden;
}
#container {
    display: table;
    height: 100%;
    width: 100%;
}
#p5canvas {
    font-size: 40px; 
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
span {
    font-size: 36px;
}
